/* @theme theme */

section.lead h1 {
    text-align: center;
    vertical-align: middle;
    color: white;
}  
section.caption > h2, 
section.caption > p {
    text-align: center;
    color: white;
}  
h1 {
    border-bottom: none;
    position: absolute;
    margin-right: 100px;
}
h2 {
    color: #191970;
}
h3 {
    color: #6565BA;
}
h4 {
    color: #4e7bb5;
}
p {
    color: #0b0b41;
}
strong {
    color: #9d5407;
}
em {
    color: #2eab7f;
}
blockquote {
    font-size: smaller;
}
code {
    background-color: rgb(250, 235, 216);
}
section > header {
    font-size: x-large;
}
section > ul > li,
section > ol > li {
    font-size: .875em;
    color: #191970;
}
section > ol > li > strong {
    color: #14145a;
}

